html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

html {
    font-family: Helvetica Neue, sans-serif;
}

h1 {
    color: #5a5a7a;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16pt;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
}

body {
    background: #0f0f12;

    padding: 0.5rem;
    box-sizing: border-box;

    min-height: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="file"] {
    background-color: whitesmoke;
    width: min-content;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#x-ray-image {
    flex-basis: 60%;
}

.content-container {
    flex-basis: 40%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
}

/* Styles for when width <= height */
@media (max-aspect-ratio: 1/1) {
    html, body {
        overflow: auto;
        height: auto;
    }

    .content-container {
        flex-direction: column;
    }
}

#x-ray-image {
    border-radius: 0.5rem;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    display: block;
}

#metadata-tables-container {
    width: 100%;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: black;
    z-index: 9999;
}